apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
spec:
  selector:
    matchLabels:
      app: minio
  template:
    spec:
      containers:
        - name: minio
          image: quay.io/opendatahub/minio:RELEASE.2019-08-14T20-37-41Z-license-compliance
