name: KFP SDK Docformatter Test

on:
  push:
    branches:
      - master
      - main
      - stable
      - 'rhoai-*'

  pull_request:
    paths:
      - 'sdk/python/**'
      - 'test/presubmit-docformatter-sdk.sh'
      - '.github/workflows/sdk-docformatter.yml'
      - '!**/*.md'
      - '!**/OWNERS'

jobs:
  test-docformatter-kfp-sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Run docformatter tests
        run: ./test/presubmit-docformatter-sdk.sh
